body {
    margin: 0;
    font-family: monospace;
  }

  #beer-header {
    /* display: flex; */
    text-align: center;
    justify-content: center;
    background: #f1d3b7;
    opacity: .8;
    height: 7rem;
    padding: 1rem;

  }

  #beer-header img {
    height: 6rem;
    width: auto;
  }
  #beer-header p {
    position:relative;
    bottom:10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #beer-collection {
    margin: 2rem;
    text-align: center;
  }

  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    display: inline-block;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52;
    display: inline-grid;
    width: 250px;
  }

  .beer-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
  }

  button {
    position: relative;
    background-color: #e6ae17;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }

  button:hover {
    background-color: whitesmoke;
    border: black solid 1px;
    color: black;
  }

  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #b49e88;
    opacity: .8;
  }

  .add-beer-form {
    width: 80%
  }

  .submit {
    position: relative;
    background-color: #e6ae17;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }

  .submit:hover {
    background-color: whitesmoke;
    border: black solid 1px;
    color: black;
  }


  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }

  #upvote {
    height: 1rem;
    width: 4rem;
  }



/* pop up box */
  .hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .myPopup{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}

  img {
    height: 250px;
    width: 50%;
    margin: auto;
    display: block;
  }

